node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

cocktailbuilderApp_private_sign_key
cocktailbuilderApp_sign.jks.bak
cocktailbuilderApp_upload_cert.pem
cocktailbuilderApp_upload.jks.tmp
cocktailbuilderApp.jks